@model IEnumerable<GerenciaChimarrao.Models.Gaucho>
@{
    ViewBag.Title = "ViventesCaminhando";
}

<h2>ViventesCaminhando</h2>

@if (ViewBag.gauchosVazio == true)
{
    <h3>Ninguem na roda do Chimarrão</h3>
}
else
{
    foreach (var item in Model)
    {
        <label>Nome: @Html.DisplayFor(modelItem => item.Nome)</label>
        <br />
        //@Html.ActionLink("Colocar Vivente na roda", "VoltarViventeParaRoda", "Gaucho", new { id = item.ID }, new { @class = "btn btn-primary" })
    }
}
