@model IEnumerable<GerenciaChimarrao.Models.Gaucho>
@{
    ViewBag.Title = "ViventesCaminhando";
}

<h2>ViventesCaminhando</h2>

@if (Model.Count() < 1)
{
    <h2>Ninguem na roda do chimarrao</h2>
}
else
{
    foreach (var item in Model)
    {
        <label>Nome: @Html.DisplayFor(modelItem => item.Nome)</label>
        <br />
        //@Html.ActionLink("Colocar Vivente na roda", "Create", "Gaucho", new { id = item.ID }, new { @class = "btn btn-primary" })
    }
}
